# Stuff Lending Test Report

Version #ea913d68 (git commit hash/link)
Date: 2022.10.04
Environment: Windows, Java version 18.

| **Case** |  **Result**  | **Note**        |
| -------- | :----------- | :-------------- |
|   5.1    |              |                 |
|   1.1    |              |                 |
|   1.2    |              |                 |
|   1.3    |              |                 |
